<div id="navCon"class="col-sm-3 col-md-2 sidebar">
  <h5><a href="#accounting" data-toggle="collapse" style="text-decoration: none; color: black;">Invoice Utilities</a></h5>
  <ul id="accounting" class="nav nav-sidebar">
    <li class="{{#if active.invoices}}active{{/if}}"><a href="/invoices">List Invoices</a></li>
    <li class="{{#if success}}active{{/if}}{{#if filter}}active{{/if}}"><a href="/createinvoice">Create Invoice</a></li>
      <li class="{{#if help}}active{{/if}}"><a href="/help">Help <span class="sr-only">(current)</span></a></li>
  </ul>
</div>