{{#each names}}
    <h1>{{name}}</h1>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Total</th>
        </tr>
        {{#each datesList}}
            <tr>    
                <td>{{date}}</td>
                <td>${{total}}</td>
            </tr>
            <table class="table">
                {{#each invoices}}
                    <tr><td>{{Total}}</td></tr>
                {{/each}}
            </table>
        {{/each}}
    </table>
{{/each}}
