<h3>Help Page</h3>
<hr>
<h4 id="helpHead">Is this application suitable for you?</h4>
<p>Some users have created individual invoices for their customers
    when it's not necessary to retain individual job/reference/invoice numbers. 
    Creating invoices at this rate, may push you over the 1,000 recommended monthly invoice 
    limits. If you're nearing (or already surpassing) the recommended invoice limit, this app 
    can help save time by creating 'daily' summary invoices. 
</p>
<hr>
<h4 id="helpHead">Does this app delete any invoices from my organisation?</h4>
<p>Posting a daily summary invoice to Xero won't remove the appropriate duplicates. 
    You can void/delete invoices as required and take care with any reconciliation issues. It's likely 
    you'd want to use Find and Match to reconcile all the relevant payments to your new daily summary invoice. This feature may 
    return in future, but isn't in my current plans.
</p>
<hr>
<h4 id="helpHead">Who can I contact for help?</h4>
<p>This app is still in production at the moment - as a personal project. But, 
    feel free to contact me at <a href="mailto:leslie.alldridge@gmail.com">leslie.alldridge@gmail.com</a>. 
</p>