/*
 * Base structure
 */


/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
    border: 0;
   padding-bottom: 30px;
}


/*
 * Sidebar
 */


/* Hide for mobile, show later */

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}


/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar>li>a {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 1em;
}

.nav-sidebar>.active>a,
.nav-sidebar>.active>a:hover,
.nav-sidebar>.active>a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

#stealth {
    display: none;
}

#imgHead {
    max-height: 80px;
    max-width: 80px;
    display: inline-block;
    margin: 0;
    padding: 0;
}
#navCon {
    padding-top: 50px;
}
#bodyCon {
   margin-top: 18px; 
}
#helpHead {
    padding-top: 8px;
}

#statusSelect {
    display: inline;
    padding-left: 5px;
    max-width: 60px;
}

#submit {
    max-height: 24px;
    padding-top: 0px;
    padding-left: 3px;
    padding-right: 3px;
}

#link {  
    border-radius: 4px;
    background-color: #5cb85c;
    color:white;
    text-decoration: none;
    /* border: 1px solid black; */
    padding-top: 5px;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 20px;
    max-height: 30px;
}

#linkFilter {
    border-radius: 4px;
    background-color: #5cb85c;
    color:white;
    text-decoration: none;
    /* border: 1px solid black; */
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-left: 15px;
    display: flex;
    float: right;
    
}

#main {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

#collapseExample {
    max-width: 400px;
}
#formbtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#formBtn {
  margin-right: 30px;
  margin-top:10px;
}
#formBtn2 {
    margin-top:10px;
}

.form-control {
    margin-bottom: 10px;
}

#note {
    margin-top:6px;
}

#title {
    font-size: 1.5em;
    margin-left: 3px;
    padding-top: 10px;
}

#data {
    max-width: 128px;
    min-width: 128px;
}

#invContent {
    display: flex;
    flex-direction: row;
   
}